{% extends "base.html" %}

{% block content %}

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h3>Password Reset</h3>
                <ol class="breadcrumb breadcrumb839">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Password Reset</li>
                </ol>
            </div>

        </div>
    </section>


<!--Password Reset Complete-->
<div class="container p-4">
    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
    <hr>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <a href="/login" class="btn btn-primary">Log in</a>
</div>
</main>
{% endblock %}