{% extends 'base.html' %}


{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<div class="row">
    <div class="col-md-4"></div>
  
    <div class="col-md-4">
      <div class="card mt-4 mb-5">
        <div class="card-body">
          <div class="card-title">
            <h2 class="text-center font-weight-bold mt-3">Reset Password</h2>
          </div>
          
          <div class="container">
            <div class="container">
              <div class="container">
                <p>Forgotten your password? Enter your email 
                    address below, and we'll email instructions for setting a new one.</p>
      
                <form method="POST">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}
                    <button class="btn btn-primary mb-4" type="submit">Send email</button>
                </form>
            </div> 
          </div>
        </div>
      </div>
  
        </div>
      </div>
    </div>
  
    <div class="col-md-4"></div>
  </div>
  </br>

   
    
</div>

{% endblock %}