{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Jipime Fasta">
    <meta name="description"
        content="Jipime Fasta is a combination of quiz app, a forum and notes app for Secondary School Students, particularly in Tanzania">
    <meta name="keywords"
        content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <title>Jipime Fasta</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    {% include 'nav.html' %}
    {% block content %}


    {% endblock content %}




    <!--    footer -->
    
    <section class="footer-part">
        <div class="container">
            <div class="row">
    
                <div class="col-md-3">
                    <div class="info-part-one320">
                        <h4>Please get in touch</h4>
                        <p>We would love to get feedback from our users directly and clearify issues directly</p>
                        <h4>Address :</h4>
                        <p>AMNCOTz LLC, Sinza <br> Dar Es Salaam, Tanzania.</p>
                        <h4>Support :</h4>
                        <p>Support Telephone No : +255 624 938 288</p>
                        <p>Support Email Account : </p>
                        <p>amncotanzania@yahoo.com</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-two320">
                        <h4>Quick Links</h4>
                        <a href="{% url 'index'%}">
                            <p>-Home</p>
                        </a>
                        <a href="{% url 'selectquiz' %}">
                            <p>-Quick Quiz</p>
                        </a>
                        <a href="{% url 'forum' %}">
                            <p>-Students Forum</p>
                        </a>
                        <a href="{% url 'forum' %}">
                            <p>-Personal Posts</p>
                        </a>
                        <a href="#">
                            <p>-Edit Profile</p>
                        </a>
                        <a href="{% url 'leaderboard' %}">
                            <p>-Check Leaderboards</p>
                        </a>
                        <a href="{% url 'feedback'%}">
                            <p>-Contact Us</p>
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-three320">
                        <h4>Popular Topics</h4>
                        <!-- <div class="news-info209">
    
                            <h5>Why are the British confused</h5>
                            <p>(Why I darest say, they darest not get offended when they so ...</p>
                            <small>July 16, 2017</small>
                        </div>
                        <div class="news-info209">
                            <h5>How to approach applying for</h5>
                            <p>(I am trying to find/change my career trajectory. Its a good cozy ...</p>
                            <small>July 16, 2017</small>
                        </div>
                        <div class="news-info209">
                            <h5>How to evaluate whether a</h5>
                            <p>A friend of mine is the CEO of his own small business. ...</p>
                            <small>July 16, 2017</small>
                        </div> -->
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-four320">
                        <h4>Contribute</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright 2022 | AMNCOTz LLC <strong>, @JipimeFasta</strong></p>
                </div>
                <div class="col-md-6">
                    <div class="social-right2389">
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#txtEditor").Editor();
        });
    </script>
    <script src="{% static 'js/questions.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    </body>
</html>