{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Dashboard</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">User Dashboard</li>
            </ol>
        </div>

    </div>
</section>

<!-- start of profile information -->
        <div>
            <div >
                <h4>Welcome, {{user.username}}</h4>
            </div>
            <div >
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Your Information</h4>
                        <p>Username : {{user.username}}</p>
                        <p>Firstname : {{user.first_name}}</p>
                        <p>Lastname : {{user.last_name}} </p>
                        <button class="btn btn-primary">
                            <a href="{% url 'profile_update' %}" style="color:aliceblue;"> Edit Your Profile</p>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <p>New Line</p>
                    </div>
                </div>

        </div>
      </div>
<!-- end of profile in formation -->
</main>
{% endblock content %}