{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Dashboard</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">User Dashboard</li>
            </ol>
        </div>

    </div>
</section>

<!-- start of profile information -->
<div class="profile-user" style="height: auto; width : auto; background-color: #003057; border: solid white; color:aliceblue; padding: 10px; margin: 10px;">
    
    <p>Welcome, {{user.username}}</p> <hr>
    <p>Here is Your Information</p> <hr>
    <p>Username :  {{user.username}}</p> <hr>
    <p>Firstname :  {{user.first_name}}</p> <hr>
    <p>Lastname :  {{user.last_name}} </p> <hr>
    <p> School : {{user.school}} </p> <hr>
    <p>Combination : {{user.combination}}</p> <hr>
    <p>Level : Form {{user.level}}</p>
    <button> 
        <a href="{% url 'profile_update' %}"> Edit Your Profile</p>
    </button>
    
</div>
<!-- end of profile in formation -->

</main>
{% endblock content %}