{% extends 'base.html'%}
{% load static %}
{% block content %}
    <section class="header-descriptin329">
        <div class="container">
            <h3>Favorite Notes</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'selectnotes' %}">Notes App</a></li>
                <li class="active">Favorite Notes</li>
            </ol>
        </div>

        {% for note in notesy %}
        <div class="notes-section" style="background-color: #003057; border: solid white; height: auto; color:aliceblue; padding: 10px; margin: 10px;">
            <ul>
                <li><a href="{% url 'notes' note.id %}">{{note.category}}</a></li>
                <li>Form {{note.level}}</li>
                <li>Date Marked: {{note.date}}</li>
            </ul>
            </div>
        {% endfor %}
        
{% endblock%}