{% extends 'base.html'%}
{% load static %}
{% block content %}
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
                <h3>Notes App</h3>
                <ol class="breadcrumb breadcrumb839">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Favorite Notes</li>
                </ol>
            </div>
    
        </div>
    </section>
        {% for note in notesy %}
        <div class="notes-section" style="background-color: #003057; border: solid white; height: auto; color:aliceblue; padding: 10px; margin: 10px;">
            <ul>
                <li><a href="{% url 'notes' note.id %}">{{note.category}}</a></li>
                <li>Form {{note.level}}</li>
                <li>Date Marked: {{note.date}}</li>
            </ul>
            </div>
        {% endfor %}
</main>
{% endblock%}