{% extends 'base.html'%}
{% load static %}
{% block content %}
    <section class="header-descriptin329">
        <div class="container">
            <h3>Favorite Notes</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'notes' %}">Notes App</a></li>
                <li class="active">Favorite Notes</li>
            </ol>
        </div>

        {% for note in notesy %}
        <div class="notes-section" style="background-color: white; border: solid black; height: 20vh;">
            <ul>
                <li><a href="{% url 'notes' %}">{{note.category}}</a></li>
                <li>{{note.level}}</li>
                <li>{{note.date}}</li>
            </ul>
        {% endfor %}
        </div>
{% endblock%}