{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Contact Us</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Contact Us and Feedback</li>
            </ol>
        </div>

    </div>
</section>

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>Sinza, Dar Es Saalam, Tanzania</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>amncotanzania@yahoo.com<br>jipimefasta@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+255 624 938 288<br>+255 754 042 628</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5">
                    <form action="{% url 'feedback2'}" method="post" >
                        {% csrf_token %}
                        
                        <div class="form-group mt-3">
                            <input type="file" class="form-control" name="ufile"  placeholder="Attachment">
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="content" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
        <div class="container-fluid p-0">
            <iframe
                src="https://maps.google.com/maps?q=sinza%20africasana&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section><!-- End Map Section -->

</main><!-- End #main -->



{% endblock %}