{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Contact Us</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Contact Us and Feedback</li>
            </ol>
        </div>

    </div>
</section>

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>Sinza, Dar Es Saalam, Tanzania</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>amncotanzania@yahoo.com<br>jipimefasta@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+255 624 938 288<br>+255 754 042 628</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <form action="{% url 'feedback'}" method="post" >
                        {% csrf_token %}
                        
                        <div class="form-group mt-3">
                            <input type="file" class="form-control" name="ufile"  placeholder="Attachment">
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="content" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
        <div class="container-fluid p-0">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section><!-- End Map Section -->

</main><!-- End #main -->



{% endblock %}