{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-descriptin329">
    <div class="container">
        <h3>Contact Us</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Contacts and Feedback</li>
        </ol>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ask-question-input-part032">
                    <h4>Contact Us</h4>
                    <hr>
                    
                    <form method="post" action="{% url 'feedback' %}" >
                        {% csrf_token %}
                        <div class="question-title39">
                            <span class="form-description43313">Details* </span>
                            <textarea class="question-details3112" name="content"
                                placeholder="Type the description thoroughly and in detail ."></textarea>
                        </div>
                        <div class="button-group-addfile3239">
                            <span class="form-description23993">Attach any relevant material *</span><input type="file" name="ufile" class="question-ttile3226">
                        
                        </div>

                        <div class="publish-button2389">
                            <button type="submit" class="publis1291">Send us Your Feedback</button>
                        </div>
                    </form>
                    

                </div>


            </div>
        </div>
        </div>
        <br />
</section>


            <!--                end of col-md-9 -->

{% endblock %}