{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="header-descriptin329">
    <div class="container">
        <h3>Explore the Students Forum</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Students Forum</li>
        </ol>
    </div>
</section>
<!-- ======content section/body=====-->
<section class="main-content920">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="tab">
                <div id="main">
                    <a href="{% url 'forum' %}"><button id="tab1" class="tablinks"  ></button></a>
                    <label for="tab1">Recent Posts</label>

                    <a href="{% url 'forum1' %}"><button id="tab2" class="tablinks" ></button></a>
                    <label for="tab2">Most Replies</label>


                    <a href="{% url 'forum2' %}"><button id="tab3" class="tablinks" ></button></a>
                    <label for="tab3">Recently Replied to</label>

                    <a href="{% url 'forum3' %}"><button id="tab4" class="tablinks"></button></a>
                    <label for="tab4">No Reply Yet</label>


                    <a href="{% url 'forum4' %}"><button id="tab5" class="tablinks"></button></a>
                    <label for="tab5">Your Posts History</label>


        <!--Posts -->
        <div class="tabcontent" id="rposts">
            {% for post in page_obj %}
            <div class= "card bg mt-4">
                    <div >
                        <a href="{% url 'viewpost' post.id %}">
                        <h1 class="card-title  mt-3 ">{{ post.title }}</h1></a>
                        <hr class="p-0 m-0">
                        <a href="{% url 'userprofile' post.usr.id %}"><p class="postuser" style="color:aliceblue;">{{post.usr.username}}</p></a>
                        <p  class=" m-5 p-5" style="color:aliceblue">{{ post.content }}</p>
                        <p style="color:aliceblue">{{post.share}}</p>
                        <hr>
                    </div>
                    {% endfor %}
            </div>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!-- End of Posts  -->

       

        </div>
        </div>
    </div>
</section>

{% endblock %}