{% extends 'base.html' %}
{% load static %}
{% include 'nav.html'%}
{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Jipime Fasta</span></h2>
                    <p class="animate__animated animate__fadeInUp">Online platform to connect secondary students across Tanzania.
                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'selectquiz' %}" class="btn-get-started animate__animated animate__fadeInUp">Quick Quiz</a>
                    {% else %}
                    <a href="{% url 'dashboard' %}" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
                    {% endif %}
                </div>
            </div>
    
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Here at Jipime Fasta</h2>
                    <p class="animate__animated animate__fadeInUp">You will get gamified and interactive quizzes, connection and thoughts from others through our improved students forum. Last but not least you can get your notes summary as well </p>

                    {% if user.is_authenticated %}
                    <a href="{% url 'forum' %}" class="btn-get-started animate__animated animate__fadeInUp">Check Out the Forum</a>
                    {% else %}
                    <a href="{% url 'dashboard' %}" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
                    
                    {% endif %}
                </div>
            </div>
    
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Jipime Fasta Android App</h2>
                    <p class="animate__animated animate__fadeInUp"> You can also download our app in google play store.
                    </p>


                    <a href="#" class="btn-get-started animate__animated animate__fadeInUp">Download Now</a>
                </div>
            </div>
    
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>
    
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>
    
        </div>
    </section><!-- End Hero -->
    
    <main id="main">
    
        <!-- ======= Services Section ======= -->
        <section class="services">
            <div class="container">
    
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box icon-box-pink">
                            <div class="icon"><i class="bx bxl-tachometer"></i></div>
                            <h4 class="title"><a href="">Interactive Quiz App</a></h4>
                            <p class="description">
                                Learn and build more confidence with questions from different subjects through our interactive and gamified quiz app</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a href="">Students Forum</a></h4>
                            <p class="description">Share your knowledge, Ask questions and connect with other students through our improved Students Forum</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Notes App</a></h4>
                            <p class="description">Get summary for notes of your choice, without forgetting the ability to rate your favorites</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="bx bx-world"></i></div>
                            <h4 class="title"><a href="">News Section</a></h4>
                            <p class="description">Receive directly news from education governing body</p>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </section><!-- End Services Section -->
    
        <!-- ======= Why Us Section ======= -->
        <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
            <div class="container">
    
                <div class="row">
                    <div class="col-lg-6 video-box">
                        <img src="{% static 'img/why_us.jpg' %}" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                            data-vbtype="video" data-autoplay="true"></a>
                    </div>
    
                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
    
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-youtube"></i></div>
                            <h4 class="title"><a href="">Watch our Introduction Video</a></h4>
                            <p class="description">Here we explain why we might be the best fit for you</p>
                        </div>
    
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-youtube"></i></div>
                            <h4 class="title"><a href="">Subscribe To Our Youtube Channel</a></h4>
                            <p class="description">And don't forget to activate notifications to get informed as soon as new content is uploaded</p>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </section><!-- End Why Us Section -->
    
        <!-- ======= Features Section ======= -->
        <section class="features">
            <div class="container">
    
                <div class="section-title">
                    <h2>Features</h2>
                    <p>Further Breakdown on what our system does.</p>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="{% static 'img/features-1.svg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-4">
                        <h3>Try our interactive quiz app</h3>
                        <p class="fst-italic">
                            More effective way of learning. A quiz app made with gamification element will help you to love more of what you do accademically
                        </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Try our head to head quiz. Challenge others</li>
                            <li><i class="bi bi-check"></i> Try our survival quiz mode. See how many you can get right in a row</li>
                            <li><i class="bi bi-check"></i> Try our Timed quiz mode. Give yourself a test with time limitation</li>
                        </ul>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="{% static 'img/features-2.svg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Notes App</h3>
                        <p>Easily get summary of any notes of your chice. </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Download these notes for offline use.</li>
                            <li><i class="bi bi-check"></i> Set your Favorites Notes to keep track of them.</li>

                        </ul>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5">
                        <img src="{% static 'img/features-3.svg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5">
                        <h3>Students Forum</h3>
                        <p>Interact with your fellow students across the country. </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Ask Questions.</li>
                            <li><i class="bi bi-check"></i> Share Knowledge and Experience.</li>
                            <li><i class="bi bi-check"></i> Discover New Information.</li>
                            <li><i class="bi bi-check"></i> Make Friends.</li>
                            <li><i class="bi bi-check"></i> And Remember to be polite!</li>
                        </ul>
                    </div>
                </div>
    
                <div class="row" data-aos="fade-up">
                    <div class="col-md-5 order-1 order-md-2">
                        <img src="{% static 'img/features-4.svg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 pt-5 order-2 order-md-1">
                        <h3>Coming soon Timetable App</h3>
                        <p class="fst-italic">
                            This will allow you to create your timetable through the system.
                        </p>
                        <p>
                            Jipime Fasta will then remind you based on your time-table
                        </p>
                    </div>
                </div>
    
            </div>
        </section><!-- End Features Section -->
    
    </main><!-- End #main -->

    {% endblock %}