{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Welcome to Jipime Fasta API platform
        ... The routes are :
        <hr>
        <ul>
            <li>getPost</li>
            <li>getUser</li>
            <li>getContentSuggested</li>
            <li>getPost</li>
            <li>getFeedback</li>
            <li>getQuizQ</li>
            <li>getQuestion_Options</li>
            <li>getQuiz</li>
            <li>getQuestion</li>
        </ul>
    </h1>
{% endblock %}
</html>