{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Leaderboards Section</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Leaderboards</li>
            </ol>
        </div>

    </div>
</section>
<h1>Leaderboards</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="margin: 20px; padding: 20px;" data-aos="fade-in">
                <div class="card-header">
                    <h3>Normal Quiz</h3>
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><p>View Today's Ranks</p></a>
                        <a href="#"><p>View Weekly Rank</p></a>
                        <a href="#"><p>View All Time Rank</p></a>
                        <a href="{% url 'selectquiz' %}"><button class="btn btn-primary">Quick Quiz</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="margin: 20px; padding: 20px;" data-aos="fade-in">
                <div class="card-header">
                    <h3>Survival Streak Quiz</h3>
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><p>View Today's Ranks</p></a>
                        <a href="#"><p>View Weekly Rank</p></a>
                        <a href="#"><p>View All Time Rank</p></a>
                        <a href="{% url 'selectquiz' %}"><button class="btn btn-primary">Quick Quiz</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="margin: 20px; padding: 20px;" data-aos="fade-in">
                <div class="card-header">
                    <h3>Head to Head Quiz</h3>
                </div>
                <div class="card-body">
                    <div>
                        <a href="#"><p>View Today's Ranks</p></a>
                        <a href="#"><p>View Weekly Rank</p></a>
                        <a href="#"><p>View All Time Rank</p></a>
                        <a href="{% url 'selectquiz' %}"><button class="btn btn-primary">Quick Quiz</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</main>

{% endblock %}