{% extends "base.html" %}
 {% block content %} 

 {% load crispy_forms_tags %}

<!--Login-->
<br>
<br>
<br>
<br>
<br>
<div class="row">
     <div class="col-md-4"></div>

     <div class="col-md-4">
    <div class="card rounded">

      <div class="card-body">
          <div class="card-title">
            <h4 class="text-center">Login to your account</h4>
          </div>

          <div class="container">
            <form method="POST">
              {% csrf_token %} {{ login_form|crispy }}
              <div class="text-center mt-5 mb-5">
              <button class="btn btn-primary " type="submit">Login</button>
              </div>
            </form>
          </div>
      

            <p class="text-center">
              Don't have an account? <a href="/register" style="color:grey;">Create an account</a>.
            </p>

            <p class="text-center">Forgot password?<a href="{% url 'password_reset' %}"style="color:grey;">Reset it</a> </p>
      </div>

    
</div>
</div>

<div class="col-md-4"></div>
</div>
</br>



{% endblock %}
