{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Notes For You</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">{{category}} {{level}} Notes</li>
            </ol>
        </div>

    </div>
</section>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
            <ul>
                <div class="headernotes" style="text-align: center; margin: 10px;">
                <li>Subject:  {{category}}</li>
                <li>Form {{level}}</li>
                </div>
                <div class="contentnotes" style="margin: 10px;">
                <li>{{content}}</li>
                <li>Date Published:  {{date}}</li>
                </div>
            </ul>
            </div>
        </div>
</main>
{% endblock %}