{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-descriptin329">
    <div class="container">
        <h3>Notes Section</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Notes For You</li>
        </ol>
    </div>
</section>

        <div class="notes-section" style="background-color: white; border: solid black; height: 70vh;">
            <ul>
                <li>{{category}}</li>
                <li>{{level}}</li>
                <li>{{content}}</li>
                <li>{{date}}</li>
            </ul>

        </div>
{% endblock %}