{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Notes For You</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">{{category}} {{level}} Notes</li>
            </ol>
        </div>

    </div>
</section>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
            <div class="card" data-aos="fade-up">
                <div class="card-header" >
                    <h4>Subject:  {{category}}</h4>
                    <h4>Form {{level}}</h4>
                </div>
                <div class="card-body">
                    <p style="padding: 20px;">{{content}}</p>
                </div>
                <div class="card-footer">
                    <h4>Date Published:  {{date}}</h4>
                </div>
            </ul>
            </div>
        </div>



<!-- About Displaying PDF Viewer in page -->

        <!-- <div id="adobe-dc-view" style="width: 800px;"></div>
        <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
        <script type="text/javascript">
            document.addEventListener('adobe_dc_view_sdk.ready', function () {
                var adobeDCView = new AdobeDC.View({
                    clientId: 'bd57f982df004324b34257b6f5d09699',
                    divId: 'adobe-dc-view',
                });
                adobeDCView.previewFile(
                    {
                        content: { location: { "url: 'https://drive.google.com/drive/u/1/folders/1TTQKzEiQ5jXZHQ-TrhtRrGBI9O5FUBl6'"  },
                        metaData: { fileName: 'Form_1' },
                    },
                    {
                        embedMode: 'IN_LINE',
                        showDownloadPDF: false,
                        showPrintPDF: false,
                    }}
                );
            });
        </script> -->


<!-- end of display -->

</main>
{% endblock %}