{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Sign Up</div>
            <div class="description">Hi there, Register Form</div>
            <form>
                <input type="text" placeholder="Username*" />
                <input type="email" placeholder="E-Mail*" />
                <input type="password" placeholder="Password*" />
                <input type="con-password" placeholder="Confirm Password*" />
                    
               
                <div class="categori49">
                    <!-- <span class="form-description43305">Grade </span> -->
                    <label>
                        <input list="browsers" name="myBrowser" class="list-category53" /></label>
                    <datalist id="browsers">
                        <option value="Form 1">
                        <option value="Form 2">
                        <option value="Form 3">
                        <option value="Form 4">
                        <option value="Form 5">
                        <option value="Form 6">
                        
                    </datalist>
                </div>
                <input type="text" name="combination" id="combination" placeholder="Combination example 'PCM' or 'Science for O-Level' ">
                <input type="text" name="school" id="school" placeholder="Your School Name">
                
                <div class="text-center">
                    <div class="button">Sign Up</div>

                </div>
            </form>
        </div>


    </div>
</div>
<br/>
<br/>
<br>
<br>
{% endblock %}