{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-descriptin329">
    <div class="container">
        <h3>Post Contents</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'forum' %}">Students Forum</a></li>
            <li class="active" >Post View</li>
        </ol>
    </div>
</section>
<h1 style="text-orientation: uppercase;">{{post.title}}</h1>

<!-- start of the Post -->

<div class="question-type2033">
    <div class="row">

        <div class="col-md-1">
            <p>{{post.title}}</p>
        </div>
        <div class="col-md-9">
            <p>{{post.content}}</p>
        </div>
        <div class="col-md-2">
            <div class="ques-type302">
                <a href="#">
                    <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true"> {{post.share}}/i></button>
                </a>
                <a href="#">
                    <button type="button" class="q-type23 button-ques2973"> <i class="fa fa-user-circle-o"
                            aria-hidden="true"> Reply</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- end of the post -->


{% endblock %}