{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-descriptin329">
    <div class="container">
        <h3>Post Contents</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'forum' %}">Students Forum</a></li>
            <li class="active" >Post View</li>
        </ol>
    </div>
</section>

<!-- start of the Post -->
<div class="container text-center mt-5">
<div class= "card bg mt-4">
        <div >
            <h1 class="card-title  mt-3 ">{{title}}</h1> |
            <a href="{% url 'userprofile' usr %}"><p class="postuser" style="color:aliceblue;">{{usr}}</p></a>
            <hr class="p-0 m-0">
            <p   class=" m-5 p-5" style="color:aliceblue">  {{content}}</p>
            <p style="color:aliceblue">{{share}}</p>
            <hr>
        </div>

  </div>
</div>
</br>

{% endblock %}