{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="header-descriptin329">
    <div class="container">9
        <h3>Quiz App</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Choose Your Quiz</li>
        </ol>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ask-question-input-part032">
                    <h4>Your Quiz</h4>
                    <hr>
                    <form method="POST" action="{% url 'selectquiz' %}">
                        {% csrf_token %}
                        <div class="categori49">
                            <span class="form-description43305">Choose The Level* </span>
                            <label>
                                <input list="levels" name="levels" class="list-category53" /></label>
                            <datalist id="levels">
                                <option value="Form 1">
                                <option value="Form 2">
                                <option value="Form 3">
                                <option value="Form 4">
                                <option value="Form 5">
                                <option value="Form 6">
                            </datalist>
                        </div>
                        

                        <div class="categori49">
                            <span class="form-description43305">Which Subject?* </span>
                            <label>
                                <input list="subs" name="subs" class="list-category53" /></label>
                            <datalist id="subs">
                                <option value="Kiswahili">
                                <option value="English">
                                <option value="Mathematics">
                                <option value="History">
                                <option value="Geography">
                                <option value="Civics/GS">
                                <option value="Physics">
                                <option value="Chemistry">
                                <option value="Biology">
                                <option value="B/Keeping">
                                <option value="Commerce">
                                <option value="Computer Studies">
                            </datalist>
                        </div>
                        <div class="categori49">
                            <span class="form-description43305">Which Quiz Type?* </span>
                            <label>
                                <input list="quiz" name="quiz" class="list-category53" /></label>
                            <datalist id="quiz">
                                <option value="Challenge Another Student" id="h2h">
                                <option value="Survival Quiz" id="survival">
                                <option value="Timed Quiz" id="normal">
                            </datalist>
                        </div>
                        
                        
                        <div class="publish-button2389">
                            <button type="submit" class="publis1291" >Start Your Quiz</button>
                        </div>
                    </form>


                </div>


            </div>
            <!--                end of col-md-9 -->
        </div>
    </div>

    <br/>
</section>

{% endblock %}